body {
  margin: 30px;
  /*background-image: url("../img/bg.jpg");*/
  background-color: #000;
  /*background-repeat: no-repeat;
  filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
-moz-background-size:100% 100%;
    background-size:100% 100%;*/
    font-family: "Metallophile", "Trebuchet MS", Helvetica, sans-serif;
}
.container {
  width: 100%;
  height: 700px;
  text-align: center;
  color: #3AB516;
}
.container .slide_bar {
  width: 20%;
  float:left;

}
.container .slide_bar img {
  width: 215px;
  height: 125px;
  border-radius: 100%;
}
.container .slide_bar ul {
  padding: 0;
}
.container .slide_bar li {
  list-style-type:none;
  text-align: center;
}
.container .slide_bar a {
  font-size: 18px;
  line-height:2;
  color: #3AB516;
  text-decoration: none;
}

.container .main {
  width: 74%;
  float:left;
  margin-right: 3%;
  margin-left: 3%;
}

.container .main h1 {
  background-image: -webkit-linear-gradient(top, #769944 0%, #769944 22.916667%, #9fb84a 37.5%, #e8e361 55%);
  -webkit-background-clip: text;
background-size: 1.2em 1.2em;
-webkit-text-fill-color: transparent;
color: #e8e361;
font-family: "Metallophile", "Trebuchet MS", Helvetica, sans-serif;
font-weight: 400;
line-height: 1.2;
text-transform: uppercase;
}
.container .main p {
  text-align: left;
  line-height: 1.5;
}
.container .main .subtitle {
  text-align: center;
  margin:0 auto 0 auto;
}
.container .main .subtitle  .leftline {
  width: 40%;
  height: 2px;
  background-color: #3AB516;
  display: inline-block;
  margin-bottom: 2px;
}
.container .main .subtitle  .rightline {
  width: 40%;
  height: 2px;
  background-color: #3AB516;
  display: inline-block;
}
.container .main .subtitle h3 {
  display: inline;
  margin: 0 10px 0 10px;
  background-image: -webkit-linear-gradient(top, #769944 0%, #769944 22.916667%, #9fb84a 37.5%, #e8e361 55%);
  -webkit-background-clip: text;
background-size: 1.2em 1.2em;
-webkit-text-fill-color: transparent;
color: #e8e361;
font-family: "Metallophile", "Trebuchet MS", Helvetica, sans-serif;
font-weight: 400;
line-height: 1.2;
font-size: 25px;
}
.container .main .images {
  text-align: center;
  margin:0 auto 0 auto;
}
.container .main .images .image {
  float: left;
    font-size: 10px;
    letter-spacing: 0.05em;
    line-height: 1.1;
    margin: 0 3% 1.5em 0;
    text-align: center;
    text-transform: uppercase;
    width: 30%;
}
.container .main .images .image img {
    display: block;
    margin: 0 auto 1em;
    width: 210px;
    height: 220px;
}
.container .main .images .image p {
  display: inline;
  font-size: 15px;
}

.container .main .footer {
  text-align: center;
  margin:50px auto 10px auto;
}

.container .main .footer img{
  position: relative;
  top: 15px;
  width: 132px;
  height: 51px;
}

.container .main .footer p {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  background-image: -webkit-linear-gradient(top, #769944 0%, #769944 22.916667%, #9fb84a 37.5%, #e8e361 55%);
  -webkit-background-clip: text;
background-size: 1.2em 1.2em;
-webkit-text-fill-color: transparent;
color: #e8e361;
font-family: "Metallophile", "Trebuchet MS", Helvetica, sans-serif;
font-weight: 400;
line-height: 1.2;
text-transform: uppercase;
}
.clear {
  clear: both;
}

@media screen and (max-width:960px){
  .container .slide_bar img {
    width: 170px;
    height: 100px;
  }

  .container .slide_bar a {
    font-size: 15px;
  }
  .container .main .subtitle  .leftline {

    height: 2px;
    background-color: #3AB516;
    display: inline-block;
    margin-bottom: 2px;
  }
  .container .main .subtitle  .rightline {

    height: 2px;
    background-color: #3AB516;
    display: inline-block;
  }

  .container .main .images .image {
    float: left;
      font-size: 10px;
      letter-spacing: 0.05em;
      line-height: 1.1;
      margin: 0 3% 1.5em 0;
      text-align: center;
      text-transform: uppercase;
      width: 46%;
  }
  .container .main .images .image img {
      display: block;
      margin: 0 auto 1em;
      width: 210px;
      height: 220px;
  }
  .container .main .images .image p {
    display: inline;
    font-size: 15px;
  }
}

@media screen and (max-width:800px){
  .container .slide_bar {
    width: 100%;
    float:none;
    text-align: center;
    height:120px;
    margin-bottom: 20px;
  }
  .container .slide_bar img {
    width: 130px;
    height: 90px;
display: block;
margin: 0 auto;
border-radius: 100%;
  }
  .container .slide_bar ul {
    width: 100%;
    margin:0 auto;
    text-align: center;
    list-style-type:none;
    display:inline;

  }
  .container .slide_bar li {
    list-style-type:none;
    text-align: center;
    margin: 0 5px 0 5px;
    display:inline;
  }
  .container .slide_bar a {
    font-size: 14px;
  }
  .container .main {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .container .main .subtitle  .leftline {
    width: 15%;
    height: 2px;
    background-color: #3AB516;
    display: inline-block;
    margin-bottom: 2px;
  }
  .container .main .subtitle  .rightline {
    width: 15%;
    height: 2px;
    background-color: #3AB516;
    display: inline-block;
  }
@media screen and (max-width:430px){
  .container .main .images .image {
      float: left;
      line-height: 1.1;
      margin: 0 3% 1.5em 0;
      text-transform: uppercase;
      text-align: center;
      width: 80%;
      font-size: 10px;
      letter-spacing: 0.05em;
  }
  .container .main .images .image img {
      display: block;
      margin: 0 auto 1em;
      width: 210px;
      height: 220px;
  }
  .container .main .images .image p {
    display: inline;
    font-size: 15px;
  }

}
}
